<!-- This is the template for the login page. -->
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>
        <form method="POST" action="{{ url_for('login') }}">
            {{ form.hidden_tag() }}
            <div>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.remember() }} {{ form.remember.label }}
            </div>
            <div>
                <input type="submit" value="Login">
            </div>
        </form>
    </div>
    
    <br>
    <form action="{{ url_for('register') }}">
        <input type="submit" value="Create Account">
    </form>
</body>
</html>
