<!-- This is the register page. It is used to register a new user. -->
<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <form method="POST">
        {{ form.hidden_tag() }}
        <label for="name">Name:</label><br>
        {{ form.name() }}<br>
        <label for="username">Username:</label><br>
        {{ form.username() }}<br>
        <label for="password">Password:</label><br>
        {{ form.password() }}<br>
        <label for="confirm_password">Confirm Password:</label><br>
        {{ form.confirm_password() }}<br>
        <input type="submit" value="Register">
    </form>
</body>
</html>
